<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="IP Locator" />
        <meta name="keywords"
              content="IP locator, geolocation, IP address lookup, location finder, IP tracking, geographic information, network tools, IP geolocation service" />
        <meta name="author" content="Tariq Jamal" />
        <title>IP Locator</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap"
              rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous" />
        <style>
            .top-container {
                height: 35vh;
            }

            .form-container-bg {
                background-image: radial-gradient(rgba(1, 73, 23, 0.5), rgba(0, 0, 0, .7)), url('https://wallpaperbat.com/img/184922-neural-network-wallpaper-top-free-neural-network-background.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }

            .data h3 {
                margin-top: 5px;
                margin-bottom: 10px;
            }

            .data span {
                display: block;
                margin-bottom: 5px;
            }

            .w-50 {
                width: 50% !important;
            }

            .h-30vh {
                height: 40vh !important;
            }

            .body {
                overflow-y: scroll !important;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <div class="position-fixed w-100 h-30vh">
                <nav class="navbar navbar-primary bg-primary ">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1 text-light">Check IP Details</span>
                    </div>
                </nav>
                <div class="top-container form-container-bg ">
                    <div class="container w-100 h-100 d-flex justify-content-center">
                        <form action="/"
                              method="post"
                              class="w-100 h-100 d-flex justify-content-center align-item-center">
                            <div class="input-group rounded m-auto w-75 ">
                                <input type="search"
                                       class="form-control rounded"
                                       placeholder="Search"
                                       aria-label="Search"
                                       aria-describedby="search-addon"
                                       name="ip_data"
                                       required
                                       value="{{ ip_address }}" />
                                <button class="btn btn-success text-light" type="submit">Get Details</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="h-30vh"></div>
            {% if data and status == 200 %}
                <div class="body">
                    <div>
                        <div class="container">
                            <div class="my-4 p-4 rounded d-flex justify-content-center align-items-center shadow">
                                <div class="data w-100 h-100">
                                    <table class="table table-bordered table-hover table-responsive-sm table-responsive">
                                        <thead class="bg-dark">
                                            <tr>
                                                <th colspan="2">
                                                    <h4 class="text-light">IP Address Details</h4>
                                                </th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Primary Data</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Ip Address</td>
                                                <td>{{ data["ip"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>ISP</td>
                                                <td>{{ data["isp"] }}</td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Coordinates</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Latitude</td>
                                                <td>{{ data["latitude"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Longitude</td>
                                                <td>{{ data["longitude"] }}</td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Geographical Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Continent</td>
                                                <td>{{ data["continent_name"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Country Name</td>
                                                <td>{{ data["country_name"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Country Offical Name</td>
                                                <td>{{ data["country_name_official"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Capital</td>
                                                <td>{{ data["country_capital"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Flag</td>
                                                <td>
                                                    <img src="{{ data['country_flag'] }}"
                                                         alt="Flag"
                                                         class="img-fluid"
                                                         height="50px"
                                                         width="50px" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>State</td>
                                                <td>{{ data["state_prov"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>City</td>
                                                <td>{{ data["city"] }}</td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Currency Name</td>
                                                <td>{{ data["currency"]["name"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Currency Code</td>
                                                <td>{{ data["currency"]["code"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Currency Symbol</td>
                                                <td>{{ data["currency"]["symbol"] }}</td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Time Zone &amp; Local Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Timezone</td>
                                                <td>{{ data["time_zone"]["name"] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Local Time</td>
                                                <td>{{ data["time_zone"]["current_time"] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif status and status != 200 %}
                <div class="container my-4 p-4 shadow-sm">
                    <div class="alert alert-warning" role="alert">{{ data }}</div>
                </div>
            {% endif %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </body>
</html>